{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="{% static 'style.css' %}" rel="stylesheet">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="wrapper">
            <h1 class="h1">SIU NASA Control Panel</h1><br>
            <h2 class="h2">Movement</h2>
            <br>
            <div class="input-group mb-3">
                <select class="form-select">
                    <option selected>Direction...</option>
                    <option value="forward">Forward</option>
                    <option value="backward">Backward</option>
                </select>
            </div>
            <div class="input-group mb-3">
                <span class="input-group-text" id="" min="0" max="127">Speed</span>
                <input type="number" class="form-control" placeholder="0-127">
            </div>
            <button class="btn btn-primary" id="move_btn">Move</button>
            <br><br>
            <h1 class="h1">Claw</h1>
            <button class="btn btn-primary" id="grab_btn">Grab</button>
            <br><br>
            <h2>Video Stream:</h2>
            <br>
            <div>
                <button class="btn btn-secondary" id="camera_btn">Click to toggle camera</button>
                <br><br>
                <span id="video"></span>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="{% static 'robotlogic.js' %}"></script>
    <script src="{% static 'camera.js' %}"></script>

</html>

