{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'style.css' %}" rel="stylesheet">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="wrapper">
            <h1 class="h1">SIU NASA Control Panel</h1><br>
            <section id="drive-left">
                <h4 style="text-align:center">Drive Controls</h4>
                <button onclick="forward()" type="button">W</button>
                <button onclick="stop()" type="button">E</button>
                <br />
                <button onclick="left()" type="button">A</button>
                <button onclick="backward()" type="button">S</button>
                <button onclick="right()" type="button">D</button>
            </section>
        
            <section id="auger-middle">
                <h4 style="text-align:center">Dig Controls</h4>
                <button onclick="augercw()" type="button">T</button>
                <button onclick="augerforward()" type="button">Y</button>
                <br />
                <button onclick="augerccw()" type="button">G</button>
                <button onclick="augerbackward()" type="button">H</button>
                <br />
                <button onclick="augerspinstop()" type="button">B</button>
                <button onclick="augermovestop()" type="button">N</button>
            </section>
        
            <section id="linact-left">
                <h4 style="text-align:center">Tilt Controls</h4>
                <button onclick="bodytiltf()" type="button">I</button>
                <button onclick="augertiltf()" type="button">O</button>
                <br />
                <button onclick="bodytiltb()" type="button">K</button>
                <button onclick="augertiltb()" type="button">L</button>
                <br />
                <button onclick="bodystop()" type="button">,</button>
                <button onclick="augertiltstop()" type="button">.</button>
            </section>
        
            <section id="autonomy">
                <h4 style="text-align:center">Autonomy Controls</h4>
                <button onclick="autodrive()" type="button">5</button>
                <button onclick="autodig()" type="button">9</button>
                <br />
                <button onclick="autodrivestop()" type="button">6</button>
                <button onclick="autodigstop()" type="button">0</button>
            </section>
            
            <br><br>
            <h2>Video Stream:</h2>
            <br>
            <div>
                <button class="btn btn-secondary" id="camera_btn">Click to toggle camera</button>
                <br><br>
                <span id="video"></span>
            </div>
        </div>
    </body>
    <script src="{% static 'jquery-3.6.3.min.js' %}"></script>
    <script src="{% static 'robotlogic.js' %}"></script>
    <script src="{% static 'camera.js' %}"></script>

</html>

