{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link href="{% static 'style.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div id="wrapper">
            <h1 class="h1">SIU NASA Control Panel</h1><br>
            <h2 class="h2">Movement</h2>
            <br>
            <table style="text-align: center;">
                <tr>
                    <td colspan="3"><button class="btn btn-success move_btn" title="forward"><i id="forward" class="bi bi-arrow-up"></i></button></td>
                </tr>
                <tr>
                    <td><button class="btn btn-success move_btn" title="left"><i id="left" class="bi bi-arrow-left"></i></button></td>
                    <td><button class="btn btn-danger move_btn" title="stop"><i id="stop" class="bi bi-stop-fill"></i></button></td>
                    <td><button class="btn btn-success move_btn" title="right"><i id="right" class="bi bi-arrow-right"></i></button></td>
                </tr>
                <tr>
                    <td colspan="3"><button class="btn btn-success move_btn" title="backward"><i id="backward" class="bi bi-arrow-down"></i></button></td>
                </tr>
            </table>
            <br><br>
            <div class="input-group mb-3">
                <span class="input-group-text">Speed</span>
                <input type="number" id="speed_box" min="0" max="30" class="form-control" placeholder="0-127">
            </div>
            
            
            <br><br>
            <h1 class="h1">Claw</h1>
            <button class="btn btn-primary" id="grab_btn">Grab</button>
            <br><br>
            <h2>Video Stream:</h2>
            <br>
            <div>
                <button class="btn btn-secondary" id="camera_btn">Click to toggle camera</button>
                <br><br>
                <span id="video"></span>
            </div>
        </div>
    </body>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="{% static 'robotlogic.js' %}"></script>
    <script src="{% static 'camera.js' %}"></script>

</html>

